<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Home Budget App</title>

    <!-- Local CSS file for styling the application-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">


    <!-- Local CSS file for styling the application-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/i18n/pl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>





    <!-- Additional Styling -->
    {% block styling %}
    {% endblock %}
  </head>

  <link>
    <header class="site-header">
      <nav class="nav">
        <a class="nav-link logo" href="{{ url_for('budget.index') }}">Flask Home Budget App</a>
        <ul class="nav-list">
          {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budget.list_entries') }}">Lista transakcji</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budget.add_cost') }}">Dodaj wydatek</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('budget.add_income') }}">Dodaj przychód</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.user_profile') }}">Profil</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Wyloguj</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.register') }}">Rejestracja</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}">Zaloguj</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="messages">
      <!-- flash messages - supported categories: success, info, error, message (default) -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-message flash-message-{{ category }}">
              <p>{{ message }}</p>
              <span class="close-btn" onclick="this.parentElement.style.opacity=0;">
                <svg width="12" height="12" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                  <path d="m49.941 35.891 33.531-33.531 14.168 14.168-33.531 33.414 33.531 33.531-14.168 14.168-33.531-33.531-33.414 33.531-14.168-14.168 33.531-33.531-33.531-33.414 14.168-14.168z" fill-rule="evenodd" fill="currentColor"></path>
                </svg>
              </span>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <main class="content">
      <!-- child templates -->
      {% block content %}
      {% endblock %}
    </main>

    <footer class="site-footer">
      <small>http://pythonweb.pl 2021</small>
      <br>
      <br>
      <a href="https://github.com/IrePro78/HomeBudgetFlask">Flask Home Budget App on Github</a>

     </footer>
    {% block javascript %}
    {% endblock %}

  </body>
</html>
