{% extends "base.html" %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}



{% block content %}

    <div class="form-wrap">
        <h1>Edycja wpisu</h1>

        <form action="/edit_entry/{{ entry.id }}" method="post">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


                <div class="field">
                    <label for="editTitle">Tytuł:<em>*</em></label>
                    <input type="text" id="editTitle" name="title"
                           value="{{ entry.title }}" required/>
                </div>

                <div class="field">
                    <label for="editAmount">Kwota:<em>*</em></label>
                    <input type="number" step="0.01" min="0" id="editAmount"
                           name="amount" value="{{ entry.amount }}" required/>
                </div>

                <div class="field">
                    <label for="editCategory">Kategoria:<em>*</em></label>
                    <input type="text" id="selectCategory" name="category"
                           value="{{ entry.category }}" required/>
                </div>

                <div class="field">
                    <button type="submit">Zapisz</button>
                </div>
        </form>
    </div>

{% endblock %}
