{% extends "base.html" %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entries_style.css') }}">
{% endblock %}

{% block content %}
    <div class="entry-container">
        <h1>Lista przychodów i wydatków:</h1>

        <table class="entry-table">
            <thead>
            <tr>
                <th>Lp</th>
                <th>Data operacji</th>
                <th>Typ operacji</th>
                <th>Tytuł operacji</th>
                <th>Kategoria</th>
                <th>Kwota</th>
                <th>Akcja</th>
            </tr>
            </thead>

            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.created_at.strftime("%d/%m/%Y") }}</td>
                    <td>Przelew</td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.category.name }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>

{#                        <button id="{{  entry.id }}" onclick=""#}

                        <form action="{{ url_for('budget.edit_entry') }}">
                        <input type="submit" id="{{ entry.id }}" value="Edycja" />
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Saldo</b></td>
                <td><b>{{ saldo }}</b></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}