{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/entries_style.css') }}">
{% endblock %}

{% block content %}
<div class="entry-container">
  <h1>Lista przychodów i wydatków:</h1>

  <table class="entry-table">
    <!-- Table Header Row -->
    <tr>
      <th>id</th>
      <th>Nazwa</th>
      <th>Kwota</th>
      <th>Kategoria</th>
      <th>Utworzona</th>
    </tr>

    <!-- Table Elements (Rows) -->
    {% for entry in entries %}
      <tr>
        <td>{{ entry.id }}</td>
        <td>{{ entry.title }}</td>
        <td>{{ entry.amount }}</td>
        <td>{{ entry.category.name}}</td>
        <td>{{ entry.created_at}}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}