{% extends "base.html" %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entries_style.css') }}">
{% endblock %}

{% block content %}
    <div class="entry-container" id="print-table">
        <style>
            h1 {
                text-align: center;
            }
        </style>

        <h1>Zestawienia przychodów i wydatków:</h1>


        <form method="post">
            <div style="text-align:center;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="incomesCheck">Przychody:</label>
                <input type="checkbox" id="incomesCheck" name="mycheckbox" value="P">
                <label for="costsCheck">Wydatki:</label>
                <input type="checkbox" id="costsCheck" name="mycheckbox" value="W">
                &nbsp;
                <input type="submit" value="Wyświetl" />
            </div>
        </form>
        <br>

        <table class="entry-table">
            <!-- Table Header Row -->
            <thead>
            <tr>
                <th>Lp</th>
                <th>Data operacji</th>
                <th>Typ</th>
                <th>Tytuł operacji</th>
                <th>Kategoria</th>
                <th>Kwota</th>
            </tr>
            </thead>


            <!-- Table Elements (Rows) -->
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.created_at.strftime("%d/%m/%Y") }}</td>
                    <td>{{ entry.type }}</td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.category.name }}</td>
                    <td>{{ entry.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Saldo</b></td>
                <td><b>{{ saldo | round(2, 'common') }}</b></td>
            </tr>
            </tfoot>
        </table>
        <h1>
            <input type="button" onclick="printDiv('print-table')" value="Drukuj zestawienie"/>
        </h1>

        <script type="text/javascript">
            function printDiv(table) {
                let printContents = document.getElementById(table).innerHTML;
                w = window.open();
                w.document.write(printContents);
                w.print();
                w.close();
            }
        </script>

    </div>
{% endblock %}