{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}

{% block content %}

<div class="form-wrap">
  <h1 class="form-heading">Login</h1>

  <form method="post">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.username.label }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <span class="validation-error">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="field">
      {{ form.password.label }}
      {{ form.password }}
      {% for error in form.password.errors %}
        <span class="validation-error">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="field checkbox">
      {{ form.remember_me.label }}
      {{ form.remember_me() }}
    </div>

    <div class="field">
      {{ form.submit() }}
    </div>
    <div class="forgot-password">
        <p><em><a href="{{ url_for('users.password_reset_via_email') }}">Forgot your password?</a></em></p>
    </div>
  </form>
</div>

{% endblock %}