{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrap">
  <h1>Password Reset</h1>

  <form method="post">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.password.label }}
      {{ form.password }}
      {% for error in form.password.errors %}
        <span class="validation-error">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="field">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}