{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/register.js') }}" ></script>
{% endblock %}



{% block content %}
    <div class="form-wrap">
  <h1>Rejestracja użytkownika</h1>

  <form method="post">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.username.label }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

      <div class="field">
      {{ form.email.label }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      {{ form.password.label }}
      {{ form.password }}
      {% for error in form.password.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      <label>Powtórz hasło:</label>
      <input type="password" class="form-control" id="confirm_password"
      name="confirm_password" required="1" onChange="checkPasswordMatch();" />
      <div class="registrationFormAlert" id="message">
      </div>
    </div>


    <div class="field">
      <button type="submit">Rejestruj</button>
    </div>
  </form>
</div>
{% endblock %}