{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile_style.css') }}">
{% endblock %}

{% block content %}
<h1>Profil Użytkownika</h1>

<div class="card">
  <div class="card-heading">
    <h2>Konto</h2>
  </div>
    <div class="card-body">
    <p>Użytkownik: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
  </div>
</div>

<div class="card">
  <div class="card-heading">
    <h2>Statystyki</h2>
  </div>
  <div class="card-body">
    <p>Dołączył: {{ current_user.registered_on.strftime("%d/%m/%Y, %H:%M:%S") }}</p>
    {% if current_user.email_confirmed %}
      <p>Email potwierdzony: {{ current_user.email_confirmed_on.strftime("%d/%m/%Y, %H:%M:%S") }}</p>
    {% else %}
      <p>Email nie został potwierdzony!</p>
    {% endif %}
  </div>
</div>

<div class="card">
  <div class="card-heading">
    <h2>Akcje</h2>
  </div>
  <div class="card-body">
    <p><a href="{{ url_for('users.edit_profile') }}">Edytuj profil</a></p>
    <p><a href="{{ url_for('users.change_password') }}">Zmień hasło</a></p>
    <p><a href="{{ url_for('users.delete_account') }}" onclick="return confirm(
        'Czy na pewno chcesz skasować swoje konto? Spowoduje to usunięcie' +
         ' wszystkich danych na twoim koncie! ')">Usuń konto</a></p>

    {% if not current_user.email_confirmed %}
      <p><a href="{{ url_for('users.resend_email_confirmation') }}">Wyślij link aktywacyjny</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}